<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table border="1">
            <caption>Watches</caption>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Gimmick</th>
                <th>Year</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
            <tr>
                <td> Rolex Paul Newman Daytona </td>
                <td> Daytona</td>
                <td> Exotic</td>
                <td> 1968</td>
                <td> 634,000,000 THB</td>
                <td><img src="" width="30%" height="30%"> </td>
            </tr>
            <tr>
                <td> Jacob & Co Billionaire</td>
                <td> Billionaire</td>
                <td> Tourbillon </td>
                <td> 2023</td>
                <td> 712,810,000THB</td>
                <td><img src="" width="30%" height="30%"> </td>
            </tr>
            <tr>
                <td> Patek Philippe Henry Graves Super Complication</td>
                <td> Patek Philippe</td>
                <td> Minute Repeater</td>
                <td> 1925</td>
                <td> 855,432,000 THB</td>
                <td><img src="" width="30%" height="30%"> </td>
            </tr>
        </table>
    </form>
</body>
</html>
